<!-- <div class="voteButtonContainer">
    <div class="vote-wrap">
            <button (click)="onUpVoteClick()">
              <div class="vote up">
                <i class="glyphicon glyphicon-thumbs-up"></i>
              </div>
            </button> <span><a> {{score_holder}} </a></span>
            <button (click)="onDownVoteClick()">
              <div class="vote inactive">
                <i class="glyphicon glyphicon-thumbs-down"></i>
              </div>
            </button>
          </div>
</div> -->

<div class="vote-wrap">
    <button (click)="onUpVoteClick()">
        <div class="vote up">
            <i class="glyphicon glyphicon-thumbs-up"></i>
        </div>
    </button> <span><a> {{score_holder}} </a></span>
    <button (click)="onDownVoteClick()">
        <div class="vote inactive">
            <i class="glyphicon glyphicon-thumbs-down"></i>
        </div>
    </button>
</div>