/* div.feedWrapper h3 {
    border-bottom: 1px solid #D2D2D2;
    margin: 5px 0;
}



div.col-sm-2 img{
    position: relative;
    left: -15px;
}



img.avatar {
    width: 70px;
    float: left;
 }
 
 
 img {
   border-radius: 6px;
   float: left;
 }
 
 div.feedWrapper{
     padding: 15px 0;
     border-bottom: 1px solid #D2D2D2;
 }
 
 div.feedWrapper span.name{
   font-size: 18px;
   color: #58B84E;
 }
 
 div.feedWrapper span.time{
   font-size: 12px;
   color: #CCC;
 }
 
 div.feedWrapper p.feed-title {
   margin: 5px 50px 0 90px;
   padding: 0;
   text-align: justify;
   line-height: 1.5;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-weight: bold;
   font-size: medium;
 }
 
 div.feedWrapper span.spacing {
   padding-left: 9px;
   margin-left: 9px;
   height: 10px;
   border-left: 1px solid #D2D2D2;
 }
 
 div.feedWrapper:last-child {
     border: none;
 }
 
 div.panel {
   border: 1px solid #D2D2D2;
   background: white;
   margin: 0;
   margin-bottom: 29px;
   border-radius: 6px;
   font-size: 14px;
 }
 
 div.panel p {
   padding: 0 24px;
   margin: 18px 0;
 }


div.feedWrapper div.col-sm-2{
    padding-left: 60px;
    padding-top: 10px;
}


div.col-sm-2 app-voter{
    position: relative;
    top: 20px;
}


 
  figcaption{
   text-align: -webkit-center;
 }
 
 figcaption p{
   position: relative;
   top: 8px;
 }
*/
.container{
    width:860px;
}

.post-comments {
    padding-bottom: 9px;
    margin: 5px 0 5px;
  }

